@import '../../style/var';

.header{
    width: 100%;
    padding: 20px 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div,
    form{
        display: flex;
    }
    .logo{
        h2{
            font-style: normal;
            font-weight: bold;
            font-size: 37px;
            color: $color-4;
        }
    }
    .location{
        display: flex;
        align-items: center;

        span{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            margin-left: 13px;
        }
    }
    .search{
        width: 468px;
        height: 50px;
        position: relative;
        display: flex;
        align-items: center;

        input{
            width: 100%;
            height: 50px;
            border-radius: 25px;
            border: 1px solid $color-1;
            padding: 0 20px;
            transition: .3s;
            &:focus{
                box-shadow: 3px 3px 5px $color-1;
            }
        }
        button{
            position: absolute;
            height: 42px;
            padding: 0 38px;
            right: 4px;
            border-radius: 41px;
            background-color: $color-1;
            border: none;
            cursor: pointer;
            transition: .3s;

            &:hover{
                background-color: darken($color: $color-1, $amount: 10);
            }
        }
    }
    .cart{
        display: flex;
        align-items: center;
        position: relative;

        span{
            width: 23px;
            height: 20px;
            background-color: $white-1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -10px;
            top: 0px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            color: $color-3;
        }
    }
}