// FONTS
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');

// FONTS


// COLORS 

$color-1: #F0F4FB;
$color-2: #727280;
$color-3: #2967FF;
$color-4: #2D2D2F;
$color-5: #8D8D8E;
$color-6: #FF2D87;
$color-7: #AEC2EA;
$white-1: #ffffff;

// COLORS

// Divaces

$ipade-pro: 1024px;

