@import './var';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;

}
.app{
    width: 100%;
    min-height: 100vh;
    position: relative;

}
.container{
    width: 1014px;
    margin: 0 auto;
    height: 100%;
}
.content{
    width: 100%;
    padding-bottom: 215px;
}
.note__found{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 64px;
        color: $color-4;
    }
    h2{
        font-size: 36px;
        color: $color-2;
    }
}

.loading{
    width: 100%;
    height: 50vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

@media (max-width: $ipade-pro){
    .container{
        width: 100%;
        padding: 0 20px;
    }
}